<<div class="container z-index-1">
    <div class="row justify-content-center custom-height">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="p-3 mb-2 bg-dark text-white rounded custom-shadow text-center">
                <h1>Invia una richiesta di amicizia</h1>

                <%= form_with model: @friendship, url: {controller: "amici", action: "create"}, local: true, class: 'row g-3 justify-content-center' do |form| %>
                <% if @friendship.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>
                    <ul>
                        <% @friendship.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="col-auto">
                    <div class="input-group">
                    <%= form.label :friend_email, 'Email Amico', class: 'input-group-text' %>
                    <%= form.text_field :friend_email, class: 'form-control', placeholder: 'Email' %>
                    </div>
                </div>

                <div class="col-auto">
                    <%= form.submit 'Submit', class: 'btn btn-primary mb-3' %>
                </div>
                <% end %>

                <h1>Amici</h1>
                <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                    <th>Friend ID</th>
                    <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <% @friendships.each do |friendship| %>
                    <tr>
                        <td><%= friendship.friend.name %></td>
                        <td>
                        <%= button_to 'Rimuovi', amici_path(friendship), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
                </table>

                <h1>Richieste di amicizia pendenti</h1>

                <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                    <th>Friend ID</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <% (current_user.friendships.where(status: 0) + Friendship.where(friend_id: current_user.id, status: 0)).each do |friendship| %>
                    <tr>
                    <td><%= friendship.user == current_user ? friendship.friend.name : friendship.user.name %></td>
                    <td>
                        <% if friendship.user == current_user %>
                        <%= button_to 'Annulla', amici_path(friendship), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %>
                        <% else %>
                        <%= button_to 'Accetta', accept_amici_path(friendship), method: :put, class: 'btn btn-primary mb-3' %>
                        <%= button_to 'Rifiuta', amici_path(friendship), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %>
                        <% end %>
                    </td>
                    </tr>
                <% end %>
                </tbody>
            </div>
        </div>
    </div>
</div>

