<div class="container z-index-1">
    <div class="row justify-content-center custom-height">
        <div class="col-12 col-md-8 col-lg-6">
        <div class="p-3 mb-2 bg-dark text-white rounded custom-shadow text-center">
            <p>Welcome to your profile section!</p>
            <% unless user_signed_in? %>
            <p>Haven't you logged in yet or are you a new user?</p>
            <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn btn-primary mb-2" %>
                <% end %>
            <% end %>
            <% else %>
            <div class="popup" id="img-window">
                <h2>Seleziona il tuo avatar!</h2>
                <div id="immaginiProfilo">
                </div>
                <button class="button_1" onclick="closePopup()">OK</button>
            </div>
            <p>Welcome <%= current_user.name %></p>
            <button onclick="openPopup()">open popup</button>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            <div class="border-top mt-2 text-center">
                <p class="py-1">Diventa un'utente pro e potrai utilizzare più funzionalità di Rob-erto come: </p>  
                <ul class="d-inline-block text-left">
                    <li>funzionalità uno</li>
                    <li>funzionalità due</li>
                </ul>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="ELCG948BR5NRQ" />
                    <input type="hidden" name="currency_code" value="EUR" />
                    <input type="image" src="https://www.paypalobjects.com/it_IT/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" title="PayPal, il metodo semplice e sicuro per pagare online" alt="Acquista ora" />
                </form>
            </div>
            <% end %>
        </div>
        </div>
    </div>
</div>
<script>
    var assetPaths = <%= (1..38).map { |i| asset_path("account/img#{i}.png") }.to_json.html_safe %>;
</script>
<%= javascript_include_tag 'account' %>

