 <!-- Button trigger modal -->






<% if @list_visibility %>
<div class="contenitore">
    <div class="title">
        <%= button_to 'Crea chat', create_chat_path(), class: 'crea', id: 'crea_chat_button' %> 
    </div>
    <div class="list"> 
            <div class="list_elems">
            <% if !@chats.empty? %> 
                <% @chats.each do |chat| %>
                <ul class="ul">
                    <li><div class="list_elem_container"><p class="wrapper"><%= link_to chat.nome, mostra_chat_path(chat_id: chat.id), id: 'mostra_chat_link', class:"chat-link", title: chat.nome %></p>
                    <% if chat.preferita==1%>
                        <%= image_tag('star.png',  class: "star-img")%>         
                    <%end%>

                    <button type="button" class="reload-button dropwdown-toggle" data-bs-toggle="dropdown">
                        <%= image_tag('chatmenu.png', alt: "", class: "button-img dropdown-img") %>
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="submit" value="Cambia nome chat" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-<%= chat.id %>"/></li>
                        <% if chat.preferita==0 %> 
                            <li><%= button_to "Aggiungi chat ai preferiti", aggiungi_ai_preferiti_path(chat_id: chat.id), method: :post, class:"dropdown-item" %></li>
                        <%else%> 
                                <li><%= button_to "Rimuovi chat dai preferiti", rimuovi_dai_preferiti_path(chat_id: chat.id), method: :post, class:"dropdown-item" %></li>
                        <%end%>
                        <li><%= button_to "Cancella chat", delete_chat_path(chat.id), method: :delete, class: "dropdown-item" %></li>
                    </ul>
                    </div>
                    </li>
                </ul>
                 <!-- POPUP -->
                        <div class="modal fade" id="modal-<%= chat.id %>" tabindex="-1" role="dialog" aria-labelledby="testmodalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content bg-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="testmodalLabel">Rinomina una chat</h5>
                                    </div>
                                    <div class="modal-body">
                                        <%= form_tag cambia_nome_chat_path(chat), method: :patch, :class => "form-horizontal" do %>
                                                <%= label_tag 'reason', "Inserisci il nuovo nome della chat", :class => 'control-label' %>
                                                <%= text_field_tag :nome_chat, params[:nome_chat], :class => "form-control" %>
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancella</button>
                                            <%= submit_tag "Conferma", name: nil, class: "btn btn-success" %>

                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- -->
                <% end %>
            <%else%>
               <div class="d inline text-wrap text-center">Non hai nessuna chat creata!</div>
            <%end%>
            </div>
    </div>             
</div> 
<%end%>

<div class="chat-area">
    <div class="chat-header">
        <div id="nome-user"><%= @user_name %></div>
        <b id="nome-chat"><%= @chat_name %></b>
        <div id="nome-modello"><%= @ai_model %></div>
    </div>

    <% if @chat_not_present %>
        <div class="chatflow_container">
            <!-- domande consigliate da porre alla IA -->
            <h3 class="testo">Crea una nuova chat o apri una chat esistente per parlare con me e prova a chiedermi una di queste domande</h3> 
            <div id="table">
                <div id="row">
                    <div id="inner"><%= button_to 'Quando è stato costruito il colosseo?', invia_domanda_path('Quando è stato costruito il colosseo?'), class: "button domanda-button"%></div>
                    <div id="inner"><%= button_to 'Chi ha dipinto la Gioconda?', invia_domanda_path('Chi ha dipinto la Gioconda?'), class: "button domanda-button"%></div>
                    <div id="inner"><%= button_to 'Consigliami 3 posti dove andare a mangiare a Roma', invia_domanda_path('Consigliami 3 posti dove andare a mangiare a Roma'), class: "button domanda-button"%></div>
                </div>
            </div>
            
        </div>
    <% else %>
    <div class="chatflow_container">

        <ul class="chatflow">

            <li class="chatbox incoming">
                <p>Hi there 👋, how can I help you? <br> Ask me anything ...</p>
            </li>

            <% @messages.each_with_index do |message, index| %>
                <% if message.message_type == 0 %>
                    <li class="chatbox outgoing">
                        <%= button_to '', delete_message_path(message), method: :delete, class: 'btn-close' %>
                        <!-- aggiunge il bottone reload solo all'ultimo messaggio -->
                        <% if index == @messages.rindex { |m| m.message_type == 0 } %>
                            <button type="button" class="reload-button" id="reload_button">
                                <%= image_tag('reload.svg', alt: "") %>
                            </button>
                        <% end %>
                        <p><%= message.content %></p>
                    </li>
                <% else %>
                    <li class="chatbox incoming">
                        <p><%= message.content %></p>
                    </li>
                <% end %>
            <% end %>

        </ul>
    </div>
    <%end%>

</div>



<% if !@chat_not_present%>
<div class="user-area">
        <div class="user-input-container">
            <%= form_tag('/send_msg', method: :post, id: "user_input_form") do %>
                <%= text_area_tag :user_input, "", id: "user_input" %>
                <%= hidden_field_tag :translate, 'false', id: 'translate_input' %>
                <%= hidden_field_tag :reload, 'false', id: 'reload_input' %>
            <% end %>
        </div>
        
        <div class="commands-grid">

            <button type="button" class="button input-button" id="send_button">
                <%= image_tag('send.png', alt: "", class: "button-img") %>
            </button>

            
            <button type="button" class="button input-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="translate_button">
                <%= image_tag('globe.png', alt: "", class: "button-img") %>
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" id="translate-ita">Italiano 🇮🇹</button></li>
                <li><button class="dropdown-item" id="translate-sp">Spagnolo 🇪🇦</button></li>
                <li><button class="dropdown-item" id="translate-fr">Francese 🇫🇷</button></li>
                <li><button class="dropdown-item" id="translate-de">Tedesco 🇩🇪</button></li>
            </ul>


            <button type="button" class="button input-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="aimodel_button">
                <%= image_tag('model-ai.png', alt: "", class: "button-img") %>
            </button>
            <ul class="dropdown-menu">
                <li><%= link_to 'Mixtral 8x7b (Mistral)', set_aimodel_path('mixtral'), class: 'dropdown-item' %></li>
                <li><%= link_to 'Gemma 7b (Google)', set_aimodel_path('gemma'), class: 'dropdown-item' %></li>
                <li><%= link_to 'LLaMA3 70b (Meta)', set_aimodel_path('llama3-70b'), class: 'dropdown-item' %></li>
                <li><%= link_to 'LLaMA3 8b (Meta)', set_aimodel_path('llama3-8b'), class: 'dropdown-item' %></li>
            </ul>


        </div>


</div>
<%end%>

<%= javascript_include_tag "home.js" %>