<h1>Homepage</h1>

<%= @response %><br><br>
<%= @usr_input %>



<div class="chatflow_container">
    <ul class="chatflow">
        <li class="chatbox incoming">
            <p>Hi there 👋, how can I help you? <br> Ask me anything ...</p>
        </li>
        <li><div class="top-separator"></div></li>
        <li class="chatbox outgoing">
            <p>ciao, questo invece è un esempio di messaggio proveniente da user</p>
        </li>
    </ul>
</div>




<div class="user-area">
        <div class="user-input-container">
            <%= form_tag('/send_msg', method: :post, id: "user_input_form") do %>
                <%= text_area_tag :user_input, "", id: "user_input" %>
            <% end %>
        </div>
        
        <div class="commands-grid">

            <button type="button" class="button input-button" id="send_button">
                <%= image_tag('send.svg', alt: "", class: "send-img") %>
            </button>
            
            <button type="button" class="button input-button" id="newchat"></button>
        
            <button type="button" class="button input-button" id="more"></button>

        </div>


</div>

<b id="prova"></b>


<%= javascript_include_tag "home.js" %>